.containerHeader {
  display: flex;
  flex-direction: column;
}

.header {
  height: 80px;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #f3f6f9;
}

.line:hover {
  background-color: #0db2f2;
}

.leftHeader {
  display: flex;
  padding: 28px;
  align-items: center;
}

.rightHeader {
  display: flex;
  flex-direction: row;
  padding-right: 100px;
}
