.classHeader{
    flex: 80px;
    border-bottom: 2px;
    border-bottom-color: red;
    background-color: #FFFFFF;
    height: 80px;
    width: 1440px;
    display:flex;
    flex-direction: row;
    margin: 0;
}

.leftHeader{
flex:700px;
margin:0;
}
.centerHeader{
flex: 561px;
}

.rightHeader{
flex:179px;
margin: 0;
}