.bottomMainContent {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.leftBottom {
  display: flex;
  flex: 0.4;
}

.rightBottom {
  flex: 1;
  display: flex;
  margin-top: 4%;
}
